html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-image: url('/img/background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
*{
    margin: 0rem;
    padding: 0rem;
}
body{
    text-align: center;
    font-family: Monospace;
}
ul{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50% ,-50%);
}
ul li{
    list-style: none;
    letter-spacing: 0.4rem;
    font-size: 2.5rem;
    animation: blinks 1.2s linear infinite;
}
ul li:nth-child(1), ul li:nth-child(2), ul li:nth-child(3), ul li:nth-child(4), ul li:nth-child(5), ul li:nth-child(6){
    color: #fff900;
    animation-delay: 1.2s;
}
ul li:nth-child(7), ul li:nth-child(8), ul li:nth-child(9), ul li:nth-child(10), ul li:nth-child(11){
    color: #fff123;
    animation-delay: 1.5s;
    
}
@keyframes blinks {
    0%{
        color: #44848;
        text-shadow: none;
    }
    90%{
        color: #44848;
        text-shadow: none;
    }
    100%{
        color:#fff;
        text-shadow: 0 0 1.7rem #fff900,0 0 10rem #fff123;
    }
}
footer{
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
}
.insta{
    display: inline-block;
    margin: 0rem 0.6rem 0rem 0rem;
    background: url('/img/instagram.svg') no-repeat;
}
.github{
    display: inline-block;
    margin: 0rem 0rem 0rem 0.6rem;
    background: url('/img/github.svg') no-repeat;
}
.insta, .github{
    height: 100%;
    width: 4.5rem;
    background-position: center;
    text-align: center;
}
.insta:hover,  .github:hover{
    background-color: #fff123;
}
